In [23]:
import pandas as pd

# Read the Excel file
df = pd.read_csv(r'PV generation dataset\output with optimizer test add area\S H Ho Sports Hall.csv')

# Display the contents of the Excel file
df

                      Time  generation(kWh)  power(W)  Irradiance (W/m2)
0      2022-09-01 00:00:00              0.0       0.0          18.619133
1      2022-09-01 00:15:00              0.0       0.0          19.185267
2      2022-09-01 00:30:00              0.0       0.0          19.824400
3      2022-09-01 00:45:00              0.0       0.0          20.102933
4      2022-09-01 01:00:00              0.0       0.0          20.197867
...                    ...              ...       ...                ...
35035  2023-08-31 22:45:00              0.0       0.0          35.965400
35036  2023-08-31 23:00:00              0.0       0.0          36.038467
35037  2023-08-31 23:15:00              0.0       0.0          36.275000
35038  2023-08-31 23:30:00              0.0       0.0          36.937067
35039  2023-08-31 23:45:00              0.0       0.0          37.657533

[35040 rows x 4 columns]

In [24]:
#add a column for the area of the solar panels
df['Area'] = 242.262
df

,Time,generation(kWh),power(W),Irradiance (W/m2),Area
0,2022-09-01 00:00:00,0.0,0.0,18.619133,242.262
1,2022-09-01 00:15:00,0.0,0.0,19.185267,242.262
2,2022-09-01 00:30:00,0.0,0.0,19.824400,242.262
3,2022-09-01 00:45:00,0.0,0.0,20.102933,242.262
4,2022-09-01 01:00:00,0.0,0.0,20.197867,242.262
...,...,...,...,...,...
35035,2023-08-31 22:45:00,0.0,0.0,35.965400,242.262
35036,2023-08-31 23:00:00,0.0,0.0,36.038467,242.262
35037,2023-08-31 23:15:00,0.0,0.0,36.275000,242.262
35038,2023-08-31 23:30:00,0.0,0.0,36.937067,242.262
35039,2023-08-31 23:45:00,0.0,0.0,37.657533,242.262

In [25]:
df.to_csv(r'PV generation dataset\output without optimizer with area\S H Ho Sports Hall.csv', index = False)

In [69]:
import pandas as pd

# Read the Excel file
df = pd.read_csv(r'PV generation dataset\output without optimizer with area\SQ15.csv')

#add a column for the area of the solar panels
df['Area'] = 166.557584
df
#df.to_csv(r'PV generation dataset\output without optimizer with area\SQ15.csv', index = False)
df

,Time,generation(kWh),power(W),Irradiance (W/m2),Area
0,1/9/2022 0:00,0.000,0.0,19.432933,166.557584
1,1/9/2022 1:00,0.000,0.0,20.243983,166.557584
2,1/9/2022 2:00,0.000,0.0,20.156267,166.557584
3,1/9/2022 3:00,0.000,0.0,20.355850,166.557584
4,1/9/2022 4:00,0.000,0.0,20.727233,166.557584
...,...,...,...,...,...
8755,31/8/2023 19:00,0.132,132.0,34.110817,166.557584
8756,31/8/2023 20:00,0.000,0.0,28.805483,166.557584
8757,31/8/2023 21:00,0.000,0.0,30.881583,166.557584
8758,31/8/2023 22:00,0.000,0.0,35.332517,166.557584
8759,31/8/2023 23:00,0.000,0.0,36.727017,166.557584

In [78]:
import datetime as dt
#I want to add a column 'efficiency', which the value = power*100%/(Irradiance (W/m2)* Area)
df['Efficiency'] = df['power(W)']*100/(df['Irradiance (W/m2)']*df['Area'])
df
df.to_excel(r'PV generation dataset\Efficiency Test\SQ15.xlsx', index = False)
#I would like to do the same things for all csv files in a folder

Find Efficiency

In [105]:
import pandas as pd
import os
import datetime as dt
import numpy as np

In [107]:
#read an csv file
df = pd.read_csv(r'PV generation dataset\output without optimizer with area\SQ11.csv')
df['Efficiency'] = df['power(W)']*100/(df['Irradiance (W/m2)']*df['Area'])
df

,Time,generation(kWh),power(W),Irradiance (W/m2),Area,Efficiency
0,2022-09-01 00:00:00,0.000,0.0,19.432933,162.681392,0.000000
1,2022-09-01 01:00:00,0.000,0.0,20.243983,162.681392,0.000000
2,2022-09-01 02:00:00,0.000,0.0,20.156267,162.681392,0.000000
3,2022-09-01 03:00:00,0.000,0.0,20.355850,162.681392,0.000000
4,2022-09-01 04:00:00,0.000,0.0,20.727233,162.681392,0.000000
...,...,...,...,...,...,...
8755,2023-08-31 19:00:00,0.112,112.0,34.110817,162.681392,2.018311
8756,2023-08-31 20:00:00,0.000,0.0,28.805483,162.681392,0.000000
8757,2023-08-31 21:00:00,0.000,0.0,30.881583,162.681392,0.000000
8758,2023-08-31 22:00:00,0.000,0.0,35.332517,162.681392,0.000000
8759,2023-08-31 23:00:00,0.000,0.0,36.727017,162.681392,0.000000

In [112]:
#read all csv files in a folder
path = r'PV generation dataset\Testing'
files = os.listdir(path)
for file in files:
    df = pd.read_csv(path + '\\' + file)
    df['Efficiency'] = df['power(W)']*100/(df['Irradiance (W/m2)']*df['Area'])
    df.to_csv(path + '\\' + file, index = False)
    print(file + ' is done')

Indoor Sports Centre.csv is done
Library.csv is done
LSK North.csv is done
LSK South.csv is done
S H Ho Sports Hall.csv is done
Shaw Auditorium.csv is done
SQ Apartment1-12.csv is done
SQ Apartment13-24.csv is done
SQ Apartment25-36.csv is done
SQ Block P.csv is done
SQ Block R.csv is done
SQ Block S.csv is done
SQ1.csv is done
SQ2.csv is done
SQ3.csv is done
SQ4.csv is done
UG Hall2 2F.csv is done
UG Hall2 RF.csv is done
UG Hall3.csv is done
UG Hall6.csv is done
UG Hall8.csv is done
UG Hall9.csv is done
Wong Check She Research Centre.csv is done
Zone A1.csv is done
Zone A2.csv is done
Zone A4.csv is done
Zone A5.csv is done
Zone A6.csv is done
Zone A7.csv is done
Zone D.csv is done
Zone J2.csv is done