Solar Irradiance data

In [24]:
import os
import pandas as pd

# Specify the folder path using a raw string literal
folder_path = r'C:\Users\nickc\OneDrive - HKUST Connect\桌面\FYP Code\dataset_temporary version_0227\Meteorological dataset\Irradiance'

# Get all the CSV files in the folder
excel_files = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Read and display the data from each excel file
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")
    print(df)
    print()
print(df.columns)

Data from Irradiance_2022.xlsx:
                      Time  Irradiance (W/m2)
0      2022-01-01 00:00:00             6.2852
1      2022-01-01 00:01:00             6.1749
2      2022-01-01 00:02:00             6.2852
3      2022-01-01 00:03:00             6.2853
4      2022-01-01 00:04:00             6.5058
...                    ...                ...
522519 2022-12-31 23:55:00             8.9446
522520 2022-12-31 23:56:00             9.2758
522521 2022-12-31 23:57:00             9.1654
522522 2022-12-31 23:58:00             9.1654
522523 2022-12-31 23:59:00             9.0550

[522524 rows x 2 columns]

Data from Irradiance_2023.xlsx:
                      Time  Irradiance (W/m2)
0      2023-01-01 00:00:00             9.2760
1      2023-01-01 00:01:00             8.9447
2      2023-01-01 00:02:00             9.2760
3      2023-01-01 00:03:00             8.9447
4      2023-01-01 00:04:00             9.3864
...                    ...                ...
519665 2023-12-31 23:55:00             0.0000
519666 2023-12-31 23:56:00             0.0000
519667 2023-12-31 23:57:00             0.0000
519668 2023-12-31 23:58:00             0.0000
519669 2023-12-31 23:59:00             0.0000

[519670 rows x 2 columns]

Index(['Time', 'Irradiance (W/m2)'], dtype='object')

In [27]:
# Combine all the data into a single DataFrame
combined_df = pd.concat([pd.read_excel(os.path.join(folder_path, file)) for file in excel_files], ignore_index=True)
combined_df

                       Time  Irradiance (W/m2)
0       2022-01-01 00:00:00             6.2852
1       2022-01-01 00:01:00             6.1749
2       2022-01-01 00:02:00             6.2852
3       2022-01-01 00:03:00             6.2853
4       2022-01-01 00:04:00             6.5058
...                     ...                ...
1042189 2023-12-31 23:55:00             0.0000
1042190 2023-12-31 23:56:00             0.0000
1042191 2023-12-31 23:57:00             0.0000
1042192 2023-12-31 23:58:00             0.0000
1042193 2023-12-31 23:59:00             0.0000

[1042194 rows x 2 columns]

In [29]:
start_date = '2022-09-01 00:00'
end_date = '2023-08-31 23:59'

filtered_df = combined_df.loc[combined_df['Time'].between(start_date, end_date)]
filtered_df

                      Time  Irradiance (W/m2)
349524 2022-09-01 00:00:00             18.531
349525 2022-09-01 00:01:00             18.531
349526 2022-09-01 00:02:00             18.531
349527 2022-09-01 00:03:00             18.641
349528 2022-09-01 00:04:00             18.531
...                    ...                ...
872433 2023-08-31 23:55:00             37.752
872434 2023-08-31 23:56:00             37.752
872435 2023-08-31 23:57:00             37.753
872436 2023-08-31 23:58:00             37.755
872437 2023-08-31 23:59:00             37.975

[522914 rows x 2 columns]

In [30]:
# Resample the dataframe to 15-minute intervals and calculate the mean
mean_df = filtered_df.resample('15T', on='Time').mean()

# Display the mean dataframe
mean_df

                     Irradiance (W/m2)
Time
2022-09-01 00:00:00          18.619133
2022-09-01 00:15:00          19.185267
2022-09-01 00:30:00          19.824400
2022-09-01 00:45:00          20.102933
2022-09-01 01:00:00          20.197867
...                                ...
2023-08-31 22:45:00          35.965400
2023-08-31 23:00:00          36.038467
2023-08-31 23:15:00          36.275000
2023-08-31 23:30:00          36.937067
2023-08-31 23:45:00          37.657533

[35040 rows x 1 columns]

In [31]:
mean_df.to_excel('required irradiance.xlsx')

Temperature

In [32]:
import os
import pandas as pd

# Specify the folder path using a raw string literal
folder_path = r'C:\Users\nickc\OneDrive - HKUST Connect\桌面\FYP Code\dataset_temporary version_0227\Meteorological dataset\Temperature'

# Get all the CSV files in the folder
excel_files = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Read and display the data from each excel file
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")
    print(df)
    print()

Data from Temperature_2022.xlsx:
                      Time  Temp (Degree Celsius)
0      2022-01-01 00:00:00                 15.720
1      2022-01-01 00:01:00                 15.686
2      2022-01-01 00:02:00                 15.742
3      2022-01-01 00:03:00                 15.732
4      2022-01-01 00:04:00                 15.743
...                    ...                    ...
522519 2022-12-31 23:55:00                 14.408
522520 2022-12-31 23:56:00                 14.419
522521 2022-12-31 23:57:00                 14.419
522522 2022-12-31 23:58:00                 14.453
522523 2022-12-31 23:59:00                 14.408

[522524 rows x 2 columns]

Data from Temperature_2023.xlsx:
                      Time  Temp (Degree Celsius)
0      2023-01-01 00:00:00                 14.363
1      2023-01-01 00:01:00                 14.318
2      2023-01-01 00:02:00                 14.318
3      2023-01-01 00:03:00                 14.274
4      2023-01-01 00:04:00                 14.240
...                    ...                    ...
519665 2023-12-31 23:55:00                 18.133
519666 2023-12-31 23:56:00                 18.144
519667 2023-12-31 23:57:00                 18.189
519668 2023-12-31 23:58:00                 18.178
519669 2023-12-31 23:59:00                 18.189

[519670 rows x 2 columns]

In [33]:
combined_df = pd.concat([pd.read_excel(os.path.join(folder_path, file)) for file in excel_files], ignore_index=True)
combined_df

                       Time  Temp (Degree Celsius)
0       2022-01-01 00:00:00                 15.720
1       2022-01-01 00:01:00                 15.686
2       2022-01-01 00:02:00                 15.742
3       2022-01-01 00:03:00                 15.732
4       2022-01-01 00:04:00                 15.743
...                     ...                    ...
1042189 2023-12-31 23:55:00                 18.133
1042190 2023-12-31 23:56:00                 18.144
1042191 2023-12-31 23:57:00                 18.189
1042192 2023-12-31 23:58:00                 18.178
1042193 2023-12-31 23:59:00                 18.189

[1042194 rows x 2 columns]

In [34]:
start_date = '2022-09-01 00:00'
end_date = '2023-08-31 23:59'

filtered_df = combined_df.loc[combined_df['Time'].between(start_date, end_date)]
filtered_df

# Resample the dataframe to 15-minute intervals and calculate the mean
mean_df = filtered_df.resample('15T', on='Time').mean()

# Display the mean dataframe
mean_df

                     Temp (Degree Celsius)
Time
2022-09-01 00:00:00              27.554333
2022-09-01 00:15:00              27.630267
2022-09-01 00:30:00              27.881467
2022-09-01 00:45:00              28.089400
2022-09-01 01:00:00              28.002667
...                                    ...
2023-08-31 22:45:00              27.485267
2023-08-31 23:00:00              27.303067
2023-08-31 23:15:00              27.218867
2023-08-31 23:30:00              27.189533
2023-08-31 23:45:00              27.411933

[35040 rows x 1 columns]

In [35]:
mean_df.to_excel('required temperature.xlsx')

Relative humidity

In [1]:
import os
import pandas as pd

# Specify the folder path using a raw string literal
folder_path = r'C:\Users\nickc\OneDrive - HKUST Connect\桌面\FYP Code\dataset_temporary version_0227\Meteorological dataset\Relative Humidity'

# Get all the CSV files in the folder
excel_files = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Read and display the data from each excel file
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")
    print(df)
    print()

Data from Relative Humidity_2022.xlsx:
                      Time  RH (%)
0      2022-01-01 00:00:00  83.284
1      2022-01-01 00:01:00  82.848
2      2022-01-01 00:02:00  83.116
3      2022-01-01 00:03:00  83.173
4      2022-01-01 00:04:00  83.307
...                    ...     ...
522392 2022-12-31 23:55:00  66.163
522393 2022-12-31 23:56:00  66.320
522394 2022-12-31 23:57:00  66.655
522395 2022-12-31 23:58:00  66.711
522396 2022-12-31 23:59:00  66.891

[522397 rows x 2 columns]

Data from Relative Humidity_2023.xlsx:
                      Time  RH (%)
0      2023-01-01 00:00:00  67.271
1      2023-01-01 00:01:00  67.506
2      2023-01-01 00:02:00  67.585
3      2023-01-01 00:03:00  67.820
4      2023-01-01 00:04:00  68.010
...                    ...     ...
519665 2023-12-31 23:55:00  80.735
519666 2023-12-31 23:56:00  80.769
519667 2023-12-31 23:57:00  80.914
519668 2023-12-31 23:58:00  81.038
519669 2023-12-31 23:59:00  81.250

[519670 rows x 2 columns]

In [2]:
combined_df = pd.concat([pd.read_excel(os.path.join(folder_path, file)) for file in excel_files], ignore_index=True)
combined_df 
start_date = '2022-09-01 00:00'
end_date = '2023-08-31 23:59'

filtered_df = combined_df.loc[combined_df['Time'].between(start_date, end_date)]
filtered_df

# Resample the dataframe to 15-minute intervals and calculate the mean
mean_df = filtered_df.resample('15T', on='Time').mean()

# Display the mean dataframe
mean_df

                        RH (%)
Time
2022-09-01 00:00:00  83.952467
2022-09-01 00:15:00  83.603200
2022-09-01 00:30:00  81.191000
2022-09-01 00:45:00  81.495733
2022-09-01 01:00:00  81.335333
...                        ...
2023-08-31 22:45:00  74.849067
2023-08-31 23:00:00  75.173733
2023-08-31 23:15:00  75.925267
2023-08-31 23:30:00  75.215200
2023-08-31 23:45:00  74.581067

[35040 rows x 1 columns]

In [3]:
mean_df.to_excel('required relative humidity.xlsx')

Visibility

In [1]:
import os
import pandas as pd

# Specify the folder path using a raw string literal
folder_path = r'C:\Users\nickc\OneDrive - HKUST Connect\桌面\FYP Code\dataset_temporary version_0227\Meteorological dataset\Visibility'

# Get all the CSV files in the folder
excel_files = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Read and display the data from each excel file
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")
    print(df)
    print()
print(df.columns)
# Combine all the data into a single DataFrame
combined_df = pd.concat([pd.read_excel(os.path.join(folder_path, file)) for file in excel_files], ignore_index=True)
combined_df 
start_date = '2022-09-01 00:00'
end_date = '2023-08-31 23:59'

filtered_df = combined_df.loc[combined_df['Time'].between(start_date, end_date)]
filtered_df
# Resample the dataframe to 15-minute intervals and calculate the mean
mean_df = filtered_df.resample('15T', on='Time').mean()

# Display the mean dataframe
mean_df
mean_df.to_excel('required visibility M15.xlsx')

Data from Visibility_2022.xlsx:
                      Time  Vis (km)
0      2022-01-01 00:00:00    13.144
1      2022-01-01 00:01:00    13.259
2      2022-01-01 00:02:00    13.287
3      2022-01-01 00:03:00    13.225
4      2022-01-01 00:04:00    13.142
...                    ...       ...
522519 2022-12-31 23:55:00    15.981
522520 2022-12-31 23:56:00    15.981
522521 2022-12-31 23:57:00    15.981
522522 2022-12-31 23:58:00    15.981
522523 2022-12-31 23:59:00    15.981

[522524 rows x 2 columns]

Data from Visibility_2023.xlsx:
                      Time  Vis (km)
0      2023-01-01 00:00:00    15.981
1      2023-01-01 00:01:00    15.981
2      2023-01-01 00:02:00    15.981
3      2023-01-01 00:03:00    15.981
4      2023-01-01 00:04:00    15.981
...                    ...       ...
519665 2023-12-31 23:55:00    11.722
519666 2023-12-31 23:56:00    11.700
519667 2023-12-31 23:57:00    11.749
519668 2023-12-31 23:58:00    11.757
519669 2023-12-31 23:59:00    11.903

[519670 rows x 2 columns]

Index(['Time', 'Vis (km)'], dtype='object')